<li id="product-<%= product.id %>">
  <span class="description"><%= product.text %></span>
  <span class="description">Price: <%= product.price %></span>
  <span class="description"><%= link_to 'Edit', edit_product_path(product) %></span>
  <span class="description"><%= link_to 'Destroy', product_path(product),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></span>

</li>